<!DOCTYPE html>
<html lang="en">
<head>
  <title>Twitter Look Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class='container'>
  <h2 style='text-align:center'>Twitter Look Up</h2>
  {% comment %} <form action={% url 'home' %} method="POST">
    {{% csrf_token %}
    {{form.as_p}}
    <input type='submit' value='Submit'>  
  </form> {% endcomment %}
<table class="table table-striped">
    <thead style='text-align:center'>
      <tr>
        <th>User</th>
        <th>Created At</th>
        <th>Content</th>
        <th>Favorite Count</th>
        <th>Retweet Count</th>
        <th>Discussion Count</th>
      </tr>
    </thead>
    <tbody>
{% for tweet in data %}
        <tr>
          <td>{{ tweet.User }}</td>
          <td>{{ tweet.Created_At }}</td>
          <td>{{ tweet.Tweet_Content }}</td>
          <td>{{ tweet.Like_Count }}</td>
          <td>{{ tweet.Retweet_Count }}</td>
          <td>{{ "Only available with the Premium and Enterprise tier products." }}</td>
        </tr>
{% endfor %}
    </tbody>
  </table>
</body>
</html>